<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    
    <label for="nombre">Nombre:
            @if ((formGroup.get('name'))?.hasError('required') && formGroup.get('name')?.touched) {
                <span class="error">* El nombre es obligatorio</span>
            }
             @else if ((formGroup.get('name'))?.hasError('minlength')) {
                <span class="error">* El nombre debe tener al menos 3 caracteres</span>
            }
    </label>
    <input type="text" id="nombre" name="nombre" formControlName="name">


    <label for="telefono">Teléfono:
            @if ((formGroup.get('phone'))?.hasError('required') && formGroup.get('phone')?.touched) {
                <span class="error">* El teléfono es obligatorio</span>
            }
             @else if ((formGroup.get('phone'))?.hasError('pattern')) {
                <span class="error">* El teléfono debe ser un número válido</span>
            }
    </label>
    <input type="tel" id="telefono" name="telefono" formControlName="phone">


    <label for="email">Email:
            @if ((formGroup.get('email'))?.hasError('required') && formGroup.get('email')?.touched) {
                <span class="error">* El email es obligatorio</span>
            }
             @else if ((formGroup.get('email'))?.hasError('email')) {
                <span class="error">* El email debe ser una dirección válida</span>
            }
    </label>
    <input type="email" id="email" name="email" formControlName="email">


    <label for="asunto">Asunto:
                @if ((formGroup.get('affair'))?.hasError('required') && formGroup.get('affair')?.touched) {
                    <span class="error">* El asunto es obligatorio</span>
                }
    </label>
    <input type="text" id="asunto" name="asunto" formControlName="affair">


    <label for="mensaje">Mensaje:
                @if ((formGroup.get('msg'))?.hasError('required') && formGroup.get('msg')?.touched) {
                    <span class="error">* El mensaje es obligatorio</span>
                }
    </label>
    
    <textarea id="mensaje" name="mensaje" formControlName="msg"></textarea>

    <label for="cv">CV: 
                @if ((formGroup.get('cv'))?.hasError('required') && formGroup.get('cv')?.touched) {
                    <span class="error">* El CV es obligatorio</span>
                }
    </label>

    <div class="file-upload">
        <input type="file" (change)="onFileSelected($event)" accept=".pdf">
    </div>

    <button>Enviar</button>
</form>